/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #3a405a;
  background: #f7f5f0;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #3a405a;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 99
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/bacground_image_home.jpg') no-repeat bottom center;
  background-size: cover;
  overflow: hidden;
  padding-top: 50px;
  height: 100vh;
  position: relative;
  line-height: 1.5;
}

header:after {
    background: -webkit-linear-gradient(right top, #cc3363,#20063b);
    background: -moz-linear-gradient(right top, #cc3363,#20063b);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}
    
/* Contact Page Header Styles */

.contact {
  text-align: center;
  background: url('images/background_image_contact.jpg') no-repeat bottom center;
  background-size: cover;
  overflow: hidden;
  padding-top: 50px;
  height: 100vh;
  position: relative;
  line-height: 1.5;
}
 
.contact:after {
    background: -webkit-linear-gradient(right top, #cc3363,#20063b);
    background: -moz-linear-gradient(right top, #cc3363,#20063b);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
}
/* End Contact Page Header Style */

header .profile-image {
  margin-top: 10%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid rgba(255,255,255,.3);
  transition: all .5s;
  z-index: 98;
  position: relative;
}

header .profile-image:hover {
  transform: scale(1.05) rotate(0deg);
  -webkit-box-shadow: 0px 6px 22px 0px rgba(50, 50, 50, 0.80);
  -moz-box-shadow:    0px 6px 22px 0px rgba(50, 50, 50, 0.80);
  box-shadow:         0px 6px 22px 0px rgba(50, 50, 50, 0.80);
}

.tag {
  /*background-color: rgba(255,255,255,.2);*/
  color: #ffffff;
  padding: 8px 0px 2px 0px;
  border-radius: 5px;
  display: table;
  margin: 0px auto;
  z-index: 3;
  position: relative 
} 

.location {
  /*background-color: #222;*/
  color: #ffffff;
  margin: 0 auto;
  z-index: 10;
}


/* Contact Page Text Styles */

.contact-title {
  color: #ffffff;
  padding: 8px 0px 2px 0px;
  border-radius: 5px;
  display: table;
  margin: 20% auto 0px;
  z-index: 3;
  position: relative
} 

.contact-body {
  color: #ffffff;
  padding: 0px 30px 0px 30px;
  margin: 20px auto 0px;
  z-index: 3;
  position: relative
}

/* End Contact Page Text Styles */

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #cc3363;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #cc3363;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #20063b;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

